@import './colors.scss';

@function colorWithOpacity($color, $opacity) {
  @return rgba($color, $opacity);
}

:root {
  --B00-24: #{colorWithOpacity($B00, 0.24)};
  --D10-05: #{colorWithOpacity($D10, 0.05)};
  --D10-30: #{colorWithOpacity($D10, 0.3)};
}
